<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/music.css">
</head>
<body>
<audio id="audio"></audio>
<div id="bfq" class="clearFloat bfq" >
    <div id="gedan" class="clearFloat gedan">
        <div id="mygeda" class="mygedan">
            <img>
        </div>
    </div>
    <div id="main" class="main clearFloat">
        <div id="show" class="show clearFloat">
            <div id="pic" class="pic"></div>
            <div id="wenzi" class="wenzi">
                <h1 id="te">我喜欢的音乐</h1>
                <img src="">
                <div id="uname" class="uname">flyfly</div>
            </div>
            <button id="playbtn" class="playbtn"><img src="img/mplay.png">播放</button>
        </div>
        <div id="tglist" class="tglist clearFloat">
            <span >歌曲列表</span>
            <div id="mnum" class="mnum">1首歌</div>
        </div>
    </div>
    <div id="mlist" class="mlist">
        <table class="table" >
            <thead>
            <tr>
                <th >
                    <div class="w1" ></div>
                </th>
                <th>
                    <div class="w2">歌曲标题</div>
                </th>
                <th>
                    <div class="w3">时长</div>
                </th>
                <th>
                    <div class="w4">歌手</div>
                </th>
                <th>
                    <div class="w5">专辑</div>
                </th >
            </tr>
            </thead>
        </table>
    </div>
    <div id="control" class="control">

    </div>
</div>
</body>
</html>